<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="GuiPresenter" class="ru.holodec.jascii.gui.GuiFormHelper">
		<property name="presenter" ref="MainWindow" />
	</bean>
	
	<bean id="ProcessorHelper" class="ru.holodec.jascii.processors.ImgProcessorHelper">
		<property name="processors">
			<list value-type="java.lang.String">
				<value>MainProcessor</value>
			</list>
		</property>
	</bean>
	
	<bean id="WriterHelper" class="ru.holodec.jascii.writer.ResultWriterHelper">
		<property name="writers">
			<list value-type="java.lang.String">
				<value>ImageWriter</value>
				<value>HtmlWriter</value>
			</list>
		</property>
	</bean>
	
	<bean id="MainWindow" class="ru.holodec.jascii.gui.MainForm"/>
	<bean id="AcceptedSymbols" class="ru.holodec.jascii.processors.AcceptedSymbols">
		<property name="symbols" value="QWERTYUIOPASDFGHJKLZXCVBNM#@qwertyuiopasdfghjklzxcvbnm\\/|"/>
	</bean>
</beans>